<script>
	import Gallery from './Gallery.svelte';
	import VideoPlayer from 'svelte-video-player';
	import Video from './Video.svelte';
	
	import { blur, fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import Ticker from 'svelte-ticker';

	let cv = false;
	let poster;
	let source;
	let paused = true;
	let visible_dani = true;
	let visible_videos = false;

	async function handleClick(e) {
		paused = true;
		cv = false;
		// let v = e.detail.src;
		let p = e.lastIndexOf('.')
		let quien = e.slice(0,p);
		poster = e
		source = [quien + ".webm"];
		cv = true;
		setTimeout(()=>{
			console.log(paused)
			paused=false
		}, 1000)
	}

	onMount(()=>{
		setTimeout(()=>{
			visible_dani=false;
		}, 2000)
		setTimeout(()=>{
			visible_videos=true;
		}, 2300)
	})
</script>
<main>
	{#if visible_dani}
		<div class="dani" transition:blur="{{amount: 200}}">
			<img src="dani.jpeg" alt="dani">
		</div>
	{/if}
	{#if visible_videos}
		{#if cv}
			<div class="vp" transition:fade>
				<!-- <VideoPlayer {poster} {source} /> -->
				<Video {poster} {source} {paused} />
			</div>
		{/if}
		<div class='tinkdiv' transition:fade="{{delay: 250, duration: 300}}">
			<Ticker>
				<a href="#/" on:click={()=>{handleClick("aldi.jpeg")}}>
					<img src="aldi.jpeg" alt="aldi">
				</a>
				<a href="#/" on:click={()=>{handleClick("chelo.jpeg")}}>
					<img src="chelo.jpeg" alt="chelo">
				</a>
				<a href="#/" on:click={()=>{handleClick("sol.jpeg")}}>
					<img src="sol.jpeg" alt="sol">
				</a>
				<a href="#/" on:click={()=>{handleClick("pable.jpg")}}>
					<img src="pable.jpg" alt="pable">
				</a>
				<a href="#/" on:click={()=>{handleClick("mari.png")}}>
					<img src="mari.png" alt="mari">
				</a>
				<a href="#/" on:click={()=>{handleClick("agos.jpg")}}>
					<img src="agos.jpg" alt="agos">
				</a>
				<a href="#/" on:click={()=>{handleClick("negro.jpeg")}}>
					<img src="negro.jpeg" alt="negro">
				</a>
			</Ticker>
		</div>
	{/if}
</main>

<style>
	:global(img) { 
		opacity: .9; 
		transition: all .2s; 
		width: 290px;
	}
	/* :global(a):hover { 
		border: 2px solid #000;
	} */
	:global(body) { 
		background-image: url('https://pablemartin.gitlab.io/feliz-comple-dani/fondo.png') ;
	}
	main{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.vp{
		max-width: 35vh;
		/* height: 60%; */
		z-index: 10;
		margin: 0 auto;
		/* position: absolute; */
		/* bottom: -1%; */
	}

	.tinkdiv {
		/* background: lightgray; */
		width: 95%; 
		height: 38em; 
		overflow: hidden; 
		padding: 10px; 
		margin: 10px;
	}

	.dani{
		display: flex;
		justify-content: center;
		z-index: 100;
	}

	.dani img{
		width: 75%;
		/* height: 70%; */
		opacity: unset;
	}

	/* .tinkdiv2{
		display: flex !important;
		flex-direction: row;
	} */

</style>